@font-face {
    font-family: 'Black Hawk';
    src: url('BlackHawkRegular.eot');
    src: url('BlackHawkRegular.eot?#iefix') format('embedded-opentype'),
        url('BlackHawkRegular.woff2') format('woff2'),
        url('BlackHawkRegular.woff') format('woff'),
        url('BlackHawkRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

